COMPOSE_PROJECT_NAME=laravel_daniel

# mysql credentials
MARIADB_HOST=db
MARIADB_DATABASE=db
MARIADB_USER=dbuser
MARIADB_PASSWORD=password
MARIADB_ROOT_PASSWORD=password

# common
APP_DEBUG=true
COMPOSE_HTTP_TIMEOUT=120

# frontend
VITE_API_CLIENT_URL=http://localhost:8123
