COMPOSE_PROJECT_NAME=laravel-daniel

# mysql credentials
MARIADB_HOST=db
MARIADB_PORT=3306
MARIADB_DATABASE=db
MARIADB_USER=dbuser
MARIADB_PASSWORD=password
MARIADB_ROOT_PASSWORD=password

# frontend
VITE_API_CLIENT_URL=http://localhost:8123
